<div ng-controller="timesheet_input_by_dayCtrl">

  <!--h4>
    <span style="float: left; width: 50px; ">
			<i ng-if="$root.isLoading"  class="fa fa-cog fa-spin" ></i>
			<i ng-if="!$root.isLoading" class="fa fa-file-text-o"></i></span> INPUT by DAY
	</h4-->

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="oneAtATime">Open only one at a time
    </label>
  </div>

  <!-- FIRST ROW -->
  <div class="row" style="padding: 0px;">
    <div class="col-xs-12 col-sm-12 col-md-12" style="background-color:darkgrey; ">
      <div class="col-md-2 col-sm-3 col-xs-4" style="padding: 5px">
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Year" tm1-subset="Default" tm1-default-element="{{defaults.Year}}" ng-model="selections.Year"
          tm1-change='updateSettings(values, defaults, selections, "Year", "Cur Year", {"tm1Dimension":"Year", "value":data})'>
        </tm1-ui-subnm>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-4" style="padding: 5px">
        <tm1-ui-subnm tm1-instance="dev" tm1-dimension="Week" tm1-subset="Default" tm1-default-element="{{defaults.Week}}" ng-model="selections.Week"
          tm1-change='updateSettings(values, defaults, selections, "Week", "Cur Week", {"tm1Dimension":"Week", "value":data})'>
        </tm1-ui-subnm>
      </div>

      <span class="pull-right">
        <tm1-ui-dbr tm1-instance="dev" tm1-cube="Timesheet" tm1-elements='Actual,{{selections.Year}},{{selections.Week}},"All Week Days","All Projects",{{values.userName.Name}}, Local, "All Billiable Hours"'
          tm1-hide-context-menu="true" tm1-data-decimal="1" tm1-read-only="true">
        </tm1-ui-dbr>
      </span>
    </div>
  </div>
  <!-- 1ST ROW END -->


  <!-- 2ND ROW -->
  <div class="row" style="padding: 5px;">
    <uib-accordion close-others="oneAtATime">
      <div uib-accordion-group class="panel-info" ng-repeat="weekday in ['MON','TUE','WED','THU','FRI','SAT','SUN']">
        <uib-accordion-heading>
          {{weekday}} - (4) PROJECTS
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          <span class="pull-right">
            <tm1-ui-dbr tm1-instance="dev" tm1-cube="Timesheet" tm1-elements='Actual,{{selections.Year}},{{selections.Week}},{{weekday}},"All Projects",{{values.userName.Name}}, Local, "All Billiable Hours"'
              tm1-hide-context-menu="true" tm1-data-decimal="1" tm1-read-only="true">
            </tm1-ui-dbr>
          </span>
        </uib-accordion-heading>
        <!-- Project -->
        <uib-accordion close-others=false>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-right:1px" ng-repeat="project in lists.selectedProjects track by $index">
            <div uib-accordion-group class="panel-primary" style="margin-top: 1px">
              <uib-accordion-heading>
                {{project.Attributes.Description}}
                <div class="pull-right">
                  <tm1-ui-dbr tm1-instance="dev" tm1-cube="Timesheet" tm1-elements='Actual,{{selections.Year}},{{selections.Week}},{{weekday}},{{project.Name}},{{values.userName.Name}}, Local, "All Billiable Hours"'
                    tm1-hide-context-menu="true" tm1-data-decimal="1" tm1-read-only="true">
                  </tm1-ui-dbr>
                </div>
              </uib-accordion-heading>

              <uib-accordion close-others=false>
                <div class="col-md-12 col-xs-12" style="padding-right:10px; padding-top:0px">
                  <div uib-accordion-group class="panel-success" style="margin-top: 1px;" ng-repeat="measure in lists.measureCommon track by $index">
                    <uib-accordion-heading>
                      {{measure.Name}}
                      <span class="pull-right">
                        <tm1-ui-dbr tm1-instance="dev" tm1-cube="Timesheet" tm1-elements='Actual,{{selections.Year}},{{selections.Week}},{{weekday}},{{project.Name}},{{values.userName.Name}},Local,{{measure.Name}}'
                          ng-model="measure.hourRead[project.Index][measure.Index]" tm1-hide-context-menu="true" tm1-data-decimal="1"
                          tm1-read-only="true">
                        </tm1-ui-dbr>
                      </span>
                    </uib-accordion-heading>

                    <div ng-init="measure.hourInput[project.Index][measure.Index] = measure.hourRead[project.Index][measure.Index]">
                      <!-- TODO: change to Angular slider -->
                      <span uib-rating ng-model="measure.hourInput[project.Index][measure.Index]" max={{defaults.ratingMax}} on-hover="hoveringOver(project.Index, measure.Index, value)"
                        on-leave="hoveringOut(project.Index, measure.Index)" ng-change="updateHour(weekday, project.Name, measure.Name, measure.hourInput[project.Index][measure.Index])"
                        state-on="'glyphicon glyphicon-stop'" state-off="'glyphicon glyphicon-minus'" titles="defaults.ratingTitle"
                        aria-labelledby="default-rating">
                      </span>
                      <span ng-show="status.overIcon[project.Index][measure.Index]">&nbsp&nbsp&nbsp {{values.hour[project.Index][measure.Index] | formatNumber:1}}&nbsp h</span>
                      <span ng-show="!status.overIcon[project.Index][measure.Index]">&nbsp&nbsp
                        <tm1-ui-dbr tm1-instance="dev" tm1-cube="Timesheet" tm1-elements='Actual,{{selections.Year}},{{selections.Week}},{{weekday}},{{project.Name}},{{values.userName.Name}},Local,{{measure.Name}}'
                          ng-model="measure.hourRead[project.Index][measure.Index]" tm1-hide-context-menu="true" tm1-data-decimal="1"
                          tm1-read-only="true">
                        </tm1-ui-dbr> h
                      </span>

                      <span ng-click="measure.hourInput[project.Index][measure.Index]=0; updateHour(weekday, project.Name, measure.Name, 0)"> &nbsp
                        <i class="fa fa-trash-o"></i>
                      </span>
                    </div>
                  </div>
                  <div style="margin-top: 5px; margin-bottom: 5px">
                    <div class="col-xs-10 col-md-10">
                      <tm1-ui-dbr tm1-instance="dev" tm1-cube="Timesheet" tm1-elements='Actual,{{selections.Year}},{{selections.Week}},{{weekday}},{{project.Name}},{{values.userName.Name}}, Local , "Comment"'
                        tm1-placeholder="Please Input Comment Here." tm1-format-html="true" tm1-format-html-buttons="[['h1','h2','h3']]">
                      </tm1-ui-dbr>
                    </div>
                    <div class="col-xs-2 col-md-2">
                      <span ng-click="showCommentModal(weekday, project)" data-toggle="modal" data-target="#modalComment">
                        <i class="fa fa-tasks fa-xl"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </uib-accordion>
            </div>
          </div>
        </uib-accordion>
      </div>
    </uib-accordion>
  </div>
  <!-- 2ND ROW END -->


  <!-- comment modal -->
  <div class="modal fade" id="modalComment" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeCommentModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3>Input Comment</h3>
        </div>
        <div class="modal-body">

          <div class="row">
            <notification type="success" message="test" show="showSuccess" timeout="2000"></notification>
            <div class="col-xs-8 col-md-9">
              <input type="text" class="form-control" ng-model="comment" placeholder="Please Input Comment Here">
            </div>
            <div class="col-xs-2 col-md-1" style="padding:0px">
              <input type="number" class="form-control" ng-model="commentHour" placeholder="0 h">
            </div>
            <div class="col-xs-2 col-md-1" style="padding-top:10px">
              <span ng-click="addComment({'weekday': '', 'project': '', 'comment': comment, 'commentHour': commentHour})">
                <i class="fa fa-plus-circle fa-lg"></i>
              </span>
            </div>
          </div>

          <ul class="list-group no-padding margin:0px;">
            <li class="list-group-item row" ng-repeat="comment in values.comments | filter: {weekday: commentModal.weekday, project: commentModal.projectObj.Index}">
              <div class="col-xs-8 col-md-9">
                <span>{{comment.comment}}</span>
              </div>
              <div class="col-xs-2 col-md-1" style="padding:0px">
                <span>{{comment.commentHour}} h</span>
              </div>
              <div class="col-xs-2 col-md-1" style="padding-left:10px; padding-right:0px;">
                <span ng-click="deleteComment({'weekday': '', 'project': '', 'comment': comment.comment, 'commentHour': comment.commentHour})">
                  <i class="fa fa-minus-circle fa-lg"></i>
                </span>
              </div>
            </li>
            <li class="list-group-item row" ng-show="(values.comments | filter: {weekday: commentModal.weekday, project: commentModal.projectObj.Index} | sumByKey:'commentHour') > 0">
              <div class="col-xs-8 col-md-9">
                <span>Total</span>
              </div>
              <div class="col-xs-2 col-md-1" style="padding:0px">
                <span>{{values.comments | filter: {weekday: commentModal.weekday, project: commentModal.projectObj.Index} | sumByKey:'commentHour'}}</span>
              </div>
              <div class="col-xs-2 col-md-1" style="padding-left:10px; padding-right:0px;">
                <span ng-click="submitComment()">
                  <i class="fa fa-check-circle fa-lg"></i>
                </span>
              </div>
            </li>
          </ul>


        </div>
        <div class="modal-footer">
          <div class="col-md-6">
            <button class="btn btn-block btn-default col-md-6" data-dismiss="modal" ng-click="closeCommentModal()" style="height:44px;">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- comment modal end -->

</div>